.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 2 1px 2px 2px #000;
    background: rgb(6, 3, 44);
    margin-bottom: 1px;
}
.logo-container{
    display: flex;
}
.logo-container h1{
    color: white;
}
.menu-icon{
    margin-top: 40px;
    margin-left: 40px;
}
.nav-profile{
    width: 75px;
}
@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width: 150px;
    }
    .nav-profile{
        width: 60px;
    }
}